{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
    <h2 style="text-align: center;">Users</h2>
    <a href="/create_user" class="btn btn-primary float-right mb-3">Create User</a>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Username</th>
                <th scope="col">Email</th>
                <th scope="col">Created At</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>{{user.created_at}}</td>
                <td>
                    <form action="/delete_user/{{ user.id }}" method="POST">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
